body{
    font-family: 'Open Sans', sans-serif;
}

.navbar-container{
    top: 0;
    background-color: cadetblue;
    position: sticky;
    z-index: 2;
}

.about-container{
    background-color: burlywood;
}

.education-container{
    background-color: aqua;
}


.redtype-text{
    color: salmon;
    font-size: 35px;
}

.circle{
    background-color: cornflowerblue;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.project_container{
    background-color: aquamarine;
}

.footer{
    background-color: #2285A9;
}

.circle-icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #2285A9;
}

.circle-icon:hover{
    background-color:aqua;
}